* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-top: 50px;
}

#circle {
  width: 150px;
  height: 150px;
  background-color: #000;
  border-radius: 50%;
  transition: 1s;
}

button {
  margin-top: 15px;
}

#green {
  margin-top: 50px;
}