:root {
  --main-color: #222222;
  --secondary-color: #EDEDED;
  --hover-color: rgb(143, 143, 143);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header {
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 130px 1fr 1fr;
  grid-template-rows: 2em 4em 3em;
}

.openMenu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: none;
  border: none;
}

.logo {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

h1 {
  margin: 5px 0 40px 0;
}

.displayGrid {
  grid-column: 5/6;
  grid-row: 3/4;
  background-color: var(--main-color);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -50px;
  max-width: 50px;
}

.displayGrid svg {
  stroke: var(--secondary-color);
}

.displayList {
  grid-column: 5/6;
  grid-row: 3/4;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin: 20px 0 0 10px;
  max-width: 50px;
}

.photoList {
  margin-top: 25px;
}

.line {
  width: 200%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--secondary-color); 
}

.arrow {
  transform: rotate(180deg);
  align-self: flex-start;
  margin-left: 10px;
}

.gridPhoto .arrow,
.gridPhoto .line {
  display: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2em 15em 5em 10em 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--secondary-color);
  background-color: var(--main-color);
  transform: translateY(-100%);
}

li {
  list-style: none;
}

.optionMenu li {
  margin: 10px 0;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: lighter;
}

.closeMenu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: var(--main-color);
  border: none;
}

.optionMenu {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.optionMenu a {
  font-size: 1.5em;
  color: var(--secondary-color);
}

.optionMenu ul {
  padding: 0;
}

.optionMenu li {
  text-align: center;
}

.socialIcon {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon li {
  display: inline;
}

.socialIcon a {
  margin: 0 10px;
}

.socialIcon a svg {
  stroke: var(--secondary-color);
}

main {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridPhoto {
  margin-top: 25px; 
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

article img {
  width: 100%;
  height: auto;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

.list-article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  
  display: flex;
}

.author {
  margin-left: 10px;
}

.list-article .author h2 {
  margin-top: 0;
}

.btnGridOff {
  grid-column: 5/6;
  grid-row: 3/4;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -50px;
  max-width: 50px;
}

.btnGridOff svg {
  stroke: var(--main-color);
}

.btnListOn {
  grid-column: 5/6;
  grid-row: 3/4;
  background-color: var(--main-color);
  border-radius: 5px;
  margin: 20px 0 0 10px;
  max-width: 50px;
}

.btnListOn .feather {
  stroke: var(--secondary-color);
}

a:hover,
.feather:hover,
.arrow:hover {
  color: var(--hover-color);
  stroke: var(--hover-color);
}

.logo .feather:hover {
  stroke: var(--main-color);
}